##--------------------------------------------------------------------
## rmqtt-cluster-raft
##--------------------------------------------------------------------

#grpc message type
message_type = 198
#Node GRPC service address list
node_grpc_addrs = ["1@127.0.0.1:5363","2@127.0.0.1:5364","3@127.0.0.1:5365"]
#Raft peer address list
raft_peer_addrs = ["1@127.0.0.1:6003", "2@127.0.0.1:6004","3@127.0.0.1:6005"]

