[package]
name = "rmqttd"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
description.workspace = true
categories.workspace = true
keywords.workspace = true
exclude.workspace = true
rust-version.workspace = true
build = "build.rs"

[[bin]]
name = "rmqttd"
path = "src/server.rs"

[profile.dev]
opt-level = 0

[profile.release]
lto = true
opt-level = 's'
codegen-units = 1

[target.'cfg(target_os = "linux")'.dependencies]
tikv-jemallocator = "0.5"

[dependencies]
rustls = "0.19"

##mqtt broker
rmqtt = "0.2"
##plugins
rmqtt-acl = "0.1"
rmqtt-web-hook = "0.1"
rmqtt-auth-http = "0.1"
rmqtt-cluster-broadcast = "0.1"
rmqtt-cluster-raft = "0.1"
rmqtt-counter = "0.1"
rmqtt-http-api = "0.1"
rmqtt-retainer = "0.1"
rmqtt-sys-topic = "0.1"
#rmqtt-plugin-template = "0.1"

[package.metadata.plugins]
rmqtt-acl = { default_startup = true }
rmqtt-http-api = { default_startup = true }
rmqtt-counter = { default_startup = true }
rmqtt-web-hook = { }
rmqtt-auth-http = { }
rmqtt-cluster-broadcast = { immutable = true }
rmqtt-cluster-raft = { immutable = true }
rmqtt-retainer = { }
rmqtt-sys-topic = { }
#rmqtt-plugin-template = { }

[build-dependencies]
toml = "0.5"
chrono = { version = "0.4", default-features = false, features = [] }

